<html lang="en" style="text-align: center;">

{{> head }}

<body>
  {{> hMensajes}}

  <!-- Begin page content -->
  <main role="main" class="container"
    style="text-align: center;display:flex; flex-direction:column; justify-content:center; align-items:strech;">
    <div style="display: flex; flex-direction:row; justify-content:space-between">
      <p id="usermail">{{user}}</p>
      <p id="usertype">{{type}}</p>
    </div>
    <img width="50" height="50" src="https://img.icons8.com/ios/50/communication--v1.png" alt="communication--v1" style="align-self:center"/>
    <h1>MENSAJES</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Historial
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Historial</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-dialog modal-dialog-scrollable">
            {{#each mensajes}}
            <div style="border-top: 1px solid black;">
              <p style="display: flex;">{{this.timestamp}} - [{{this.tipo}}]</p>
              <p style="display: flex;"><strong style="color: greenyellow;">{{this.email}}</strong>:
                {{this.cuerpo}}</p>
            </div>
            {{/each}}
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <div id="messages" style="background-color: black; height: 25rem; color: white; overflow-y:scroll">

    </div>
    <form class="form-signin" onsubmit="return addMessage(this)" style="margin: 5% 0 1rem 0;">
      <h3 class="h3 mb-3 font-weight-normal">Nuevo mensaje</h3>
      <label for="inputMensaje" class="sr-only">Nombre</label>
      <input type="text" id="inputMensaje" class="form-control" placeholder="Mensaje" required autofocus />
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">
        Enviar
      </button>

    </form>
    <a href="/mensajes/{{user}}" type="submit" style="color: black;">Ver mensajes propios</a>
  </main>

  {{> footer}}

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/layouts/websockets.js"></script>
</body>

</html>